.Banner {
    display: flex;
    flex-direction: row;
    background-color: #800020;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    color: #ffffff;
    z-index: 1;
    width: 100%;
    height: 100%;
        &_heading {
            font-size: 2em;
            text-transform: uppercase;
        }
        &_subheading{
            font-size: 1.3em;
        }
        &_button{
            background-color: #ffffff;
            color: #800020;
            align-items: center;
            margin-top: 1em;
        }
}

@media (max-width: 800px) {
    .Banner {
        padding-top: 1em;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 20vh;
        align-items:center;
    }
}    