.Categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    text-align: center;
    flex-wrap: wrap;
        &_box {
            padding: 2em;
        }
        &_description {
            margin-top: 1em;
            text-align: center;
        }
        &_button {
            justify-content: center;
            width: 11em;
            height: 3em;
            border-radius: 30em;
            background-color: #800020;
            color: #ffffff;
            font-size: 1.3em;
            margin-bottom: 1em;
        }
}

