.Categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    text-align: center;
    flex-wrap: wrap;
        &_box {
            padding: 2em;
        }
        &_description {
            margin-top: 1em;
            text-align: center;
            text-transform: uppercase;
        }
}

