@import './hero.scss';
@import './categories.scss';
@import './banner.scss';

button {
        width: 11em;
        height: 3em;
        border-radius: 30em;
        background-color: #800020;
        color: #ffffff;
        font-size: 1.3em;
        margin-bottom: 1em;
}
